/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
li {
  list-style: none;
  text-align: center;
  padding-right: 30px;
}
